<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">
    <a target="_blank" href="{{ path('download_all', {'id': admin.id(object) }) }}">Download all prices</a>
</td>