{% extends "base.html.twig" %}

{% block body %}
    <section class="my-page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <ul>
                        {% for value in privacy %}
                            <li><a href="{{ path('privacy',{"id":value.id}) }}">{{ value.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 privacy-text">
                    <h4>{{ privacy.0.name }}</h4>
                    <p>{% autoescape  %}{{ privacy.0.description|raw }}{% endautoescape %}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}