{% extends 'base.html.twig' %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span ></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li class="actived">
                    <a  data-target=".navbar-collapse" class="page-scroll" href="#page-top">Գլխավոր</a>
                </li>
                <li>
                    <a  data-target=".navbar-collapse" class="page-scroll" href="tenders.html">Մրցույթներ</a>
                </li>
                <li>
                    <a  data-target=".navbar-collapse" class="page-scroll" href="mypage.html">Իմ Էջը</a>
                </li>
                <li>
                    <a  data-target=".navbar-collapse" class="page-scroll" href="contact.html">Հետադարձ կապ</a>
                </li>
                <li>
                    <a  data-target=".navbar-collapse" class="page-scroll" href="privacy.html">Ընդհանուր պայմաններ</a>
                </li>
                <li class="text-center">

                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
{% endblock %}