{% extends "base.html.twig" %}

{% block body %}
    <section class="single-tenders-section">
        <div class="container">
            <div class="row">
                <div class="row single-tender-presentation">
                   <h1>
                       {{ status_text }}
                        {{ status_code }}
                   </h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}